

<div class="slider">
	      	<div class="slider-wrapper theme-default">
	            <div id="slider" class="nivoSlider">
	                <img src="/images/banner5.jpg" alt="" />
	                <img src="/images/banner2.jpg" alt="" />
	                <img src="/images/banner3.jpg" alt="" />
	                <img src="/images/banner4.jpg" alt="" />
	                <img src="/images/banner1.jpg" alt="" />
	            </div>
	        </div>
   		</div>
   	</div>
  	
 	<div class="main">
	  <div class="wrap">
		 <div class="content-top">
		 <div class="title" style="text-align: center;font-family: fantasy;">
		 <h2> FIND THE PERFECT SITTER FOR YOUR PET </h2>
		 </div>
			<div class="section group">
				<div class="col_1_of_3 span_1_of_3" style="font-family: fantasy;">
					<div class="thumb-pad2">
	                    <div class="thumbnail">
	                        
	                        <figure><img src="/images/pic.jpg" alt=""></figure>
	                        <div class="caption">
	                            <p>Sign up and get access to our network of pet sitters who can’t wait to watch your pet.Create a profile for your pet which will be shared with prospective sitters. </p>
	                            <a href="/signup/owners" class="btn-default btn1" style="font-family: fantasy;"> MAKE A PROFILE</a>
	                        </div>
	                    </div>
                	</div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<div class="thumb-pad2">
	                    <div class="thumbnail">
	                       
	                        <figure><img src="/images/pic1.jpg" alt=""></figure>
	                        <div class="caption">
	                            <p> Based on your location, the type of pet you have and the services you need, find detailed pet sitter profiles and contact them directly.</p>
	                            <a href="" class="btn-default btn1" style="font-family:fantasy;" > Browse Sitters</a>
	                        </div>
	                    </div>
	                </div>
				</div>
				<div class="col_1_of_3 span_1_of_3">
					<div class="thumb-pad2">
	                    <div class="thumbnail">
	                   
	                        <figure><img src="/images/pic2.jpg" alt=""></figure>
	                        <div class="caption">
	                            <p>This is your chance to get to know a sitter in person and see how they interact with your pet.Once you've finalized your pick, make a reservation. </p>
	                            <a href="#" class="btn-default btn1" style="text-align: center;font-family: fantasy;"> BOOK A SITTER </a>
	                        </div>
	                    </div>
                    </div>
				</div>
				<div class="clear"></div> 
			</div>
		</div>
		<div class="content-middle">
			<div class="section group example">
				<div class="col_1_of_2 span_1_of_2">
					<img src="/images/pic4.jpg" alt=""/>
				    <h4 style="font-family: fantasy;"> ABOUT US </h4>
				    <p>Whether you need in-home pet boarding, pet sitting, dog walking, or day care, Fuzzy Faces connects pet parents with people who’ll treat their pets like family.Browse through our extensive list of sitters based on the type of pet you have,connect with them and make a reservation.</p>
				    <a href="/signup/owners" class="btn-default btn1" style="font-family: fantasy"> SIGN UP</a>
				</div>
				<div class="col_1_of_2 span_1_of_2">
				       <div class="listview_1_of_2 /images_1_of_2">
								
          </div>
          <div class="col span_1_of_about1" style="width:345px">
          <h3  style="text-align: center; font-family: fantasy;"> OUR SERVICES</h3>
            <div class="services-box" >
              <div class="col_1_of_2 span_1_of_2">
                <img src="/images/pic10.jpg" alt=""/>
                <p class="text1" style="font-family: fantasy">Boarding</p>
              </div>
              <div class="col_1_of_2 span_1_of_2">
                <img src="/images/pic11.jpg" alt=""/>
                <p class="text1" style="font-family: fantasy">Day care</p>
              </div>
              <div class="clear"></div> 
                   </div>
                   <div class="services-box">
              <div class="col_1_of_2 span_1_of_2">
                <img src="/images/pic12.jpg" alt=""/>
                <p class="text1" style="font-family: fantasy">Home Sitting </p>
              </div>
              <div class="col_1_of_2 span_1_of_2">
                <img src="/images/pic13.jpg" alt=""/>
                <p class="text1" style="font-family: fantasy"> Dog Walking</p>
              </div>
              <div class="clear"></div> 
                   </div>
                    <div class="services-box">
            
                    


                   </div>
              


							    </div>	
							   
		     		  </div>
				     
				    
				     											
				</div>
				<div class="clear"></div> 
		</div>
	 </div>
	</div>
   </div>
	
		
	</div>
</div>


 
        


</body>
<link href="/css/slider.css" rel="stylesheet" type="text/css" media="all"/>
<script type="text/javascript" src="js/jquery-1.9.0.min.js"></script>
<script type="text/javascript" src="js/jquery.nivo.slider.js"></script>
<script type="text/javascript">
    $(window).load(function() {
        $('#slider').nivoSlider();
    });
    </script>





</body>